.page-template-example-page {
  .breadcrumbs-nav {
    margin-top: 30px;
  }

  .taxonomy__bottom_content {
    p,li{
      padding: 10px 0;
    }
    li {
      list-style: circle;
     
    }
  }
 
}